################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Carplar.Shop/.vs
/Carplar.Shop/Carplar.Shop/obj
/Carplar.Shop/Carplar.Shop/bin